In [12]:
import numpy as np
import pandas as pd
from sklearn import *
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
df = pd.read_csv('outflowset.csv')

In [13]:
df.head()

,CompanyID,CurrentBalance,YearInflow,ManualTransactions,onlineTransactions,TotalTransactions,NoOfclosedAccounts,NewAccountsOpened,No.ofchequeBounces,No.of failedtransactions,YearOutflow,OverallPerspective
0,213736,19720865,85423166848,858574,783433980,784292554,267,1219,6260,4859767,39398454056,1
1,195266,32839884,58259452519,266428,382577566,382843994,277,1277,4722,6046789,62379456226,1
2,122329,58265825,1458396697,38042,259758840,259796882,356,8658,7790,6365536,66275602599,0
3,140882,96567246,71337242780,293275,791973214,792266489,561,8508,5748,5430941,57504592227,1
4,135349,12132698,34037243545,691725,657876697,658568422,759,9489,2747,9017822,7447133585,0

In [14]:
data = df[["CurrentBalance","YearInflow","ManualTransactions","onlineTransactions","TotalTransactions","NoOfclosedAccounts","NewAccountsOpened","No.ofchequeBounces","No.of failedtransactions","YearOutflow","OverallPerspective"]].to_numpy()

In [15]:
inputs = data[:,:-1]
outputs = data[:, -1]
training_inputs = inputs[:1500]
training_outputs = outputs[:1500]
testing_inputs = inputs[1500:]
testing_outputs = outputs[1500:]

#### classifier = QuadraticDiscriminantAnalysis()
classifier.fit(training_inputs, training_outputs)
predictions = classifier.predict(testing_inputs)
accuracy = 100.0 * accuracy_score(testing_outputs, predictions)
print ("The accuracy of QDA Classifier on testing data is: " + str(accuracy))

In [16]:
testSet = [[96045730,34021170192,249168,257583726,257832894,138,2731,5252,758327,22241415950]]
test = pd.DataFrame(testSet)
predictions = classifier.predict(test)
print('QDA prediction on the first test set is:',predictions)

QDA prediction on the first test set is: [0]

In [17]:
testSet = [[41180533,57794202309,340947,874020505,874361452,952,6220,7405,5380871,17026153603]]
test = pd.DataFrame(testSet)
predictions = classifier.predict(test)
print('QDA prediction on the second test set is:',predictions)

QDA prediction on the second test set is: [1]

In [18]:
testSet = [[64265782,77824207077,980013,594929847,595909860,211,9439,44,1010145,79314294345]]
test = pd.DataFrame(testSet)
predictions = classifier.predict(test)
print('QDA prediction on the third test set is:',predictions)

QDA prediction on the third test set is: [2]

In [19]:
#In the output, 0 indicates 'High Failure Risk',1 indicates 'Medium Failure Risk',2 indicates 'Low Failure Risk'

In [20]:
data = df[["CurrentBalance","YearInflow","ManualTransactions","onlineTransactions","TotalTransactions","NoOfclosedAccounts","NewAccountsOpened","No.ofchequeBounces","No.of failedtransactions","YearOutflow","OverallPerspective"]].to_numpy()
inputs = data[:,:-1]
outputs = data[:, -1]
training_inputs = inputs[:1500]
training_outputs = outputs[:1500]
testing_inputs = inputs[1500:]
testing_outputs = outputs[1500:]

In [21]:
classifier = GaussianNB()
classifier.fit(training_inputs, training_outputs)
predictions = classifier.predict(testing_inputs)
accuracy = 100.0 * accuracy_score(testing_outputs, predictions)
print ("The accuracy of GNB Classifier on testing data is: " + str(accuracy))

The accuracy of GNB Classifier on testing data is: 88.11833171677984

In [22]:
testSet = [[96045730,34021170192,249168,257583726,257832894,138,2731,5252,758327,22241415950]]
test = pd.DataFrame(testSet)
predictions = classifier.predict(test)
print('GNB prediction on the first test set is:',predictions)

GNB prediction on the first test set is: [0]

In [23]:
testSet = [[41180533,57794202309,340947,874020505,874361452,952,6220,7405,5380871,17026153603]]
test = pd.DataFrame(testSet)
predictions = classifier.predict(test)
print('GNB prediction on the second test set is:',predictions)

GNB prediction on the second test set is: [1]

In [24]:
testSet = [[64265782,77824207077,980013,594929847,595909860,211,9439,44,1010145,79314294345]]
test = pd.DataFrame(testSet)
predictions = classifier.predict(test)
print('GNB prediction on the third test set is:',predictions)

GNB prediction on the third test set is: [2]

In [25]:
#In the output, 0 indicates 'High Failure Risk',1 indicates 'Medium Failure Risk',2 indicates 'Low Failure Risk'